$pri-color1: #33246a;
$pri-color2: #ff66c4;
$pri-color3: #ff7e2e;
$alt-text-color: #6f6c90;
$header-text-color: #170f49;
$error-color: #ef4444;

$color1: #0376c9;
$color2: #f2f4f6;
$color3: #535a61;
$color4: #d7d9dc;
$color5: #eaf1fa;
$color6: #25272a;
$color-default: #24272a;
$input-border-color: #bbc0c5;
$white: #fff;


$body-bg: #f2f4f6;
$hover-bg-default: #fafafa;
// $hover-bg2: #00000005;
