.pill-component {
  padding: 0.2rem 0.8rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
  .icon {
    width: 1.6rem;
    height: 1.6rem;
    min-width: 1.6rem;
    min-height: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 50%;
    font-size: 0.8rem;
  }
  p {
    // font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
  }
  &.success {
    background-color: #25c26e14;
    color: #25c26e;
    .icon {
      background-color: #25c26e;
      color: #fff;
      border: 2px solid #25c26e;
    }
    p {
      color: #25c26e;
    }
  }
  &.danger {
    background-color: #ff554a14;
    color: #ff554a;
    .icon {
      // background-color: #ff554a;
      // color: #fff;
      background-color: transparent;
      color: #ff554a;
      border: 2px solid #ff554a;
    }
    p {
      color: #ff554a;
    }
  }
  &.info {
    background-color: rgba(39, 100, 255, 0.08);
    color: #2764ff;
    .icon {
      // background-color: #2764FF;
      // color: #fff;
      background-color: transparent;
      color: #2764ff;
      border: 2px solid #2764ff;
    }
    p {
      color: #2764ff;
    }
  }
}
