@import '../../../../../assets/scss/colors.scss';
@import '../../../../../assets/scss/index.scss';

.overview-component {
  // background-color: green;
  // padding: 1rem;
 
  .stats-wrapper {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    .stats {
      // max-width: 90.7rem;
      // min-width: 70%;
      // width: 70%;
      flex: 1 1 0%;
      margin: 0 auto;
      border: 1px solid #eaf1fa;
      background-color: #fff;
      box-shadow: 0px 5.969581604003906px 16.714828491210938px 0px #080f340a;
      margin-bottom: 2.4rem;
      display: grid;
      padding: 2rem 0;
      border-radius: 1.2rem;
      grid-template-columns: repeat(3, 1fr);

      .stat {
        width: 100%;
        height: 17.8rem;
        padding: 2.4rem;
        .title {
          font-family: $thic700;

          // new
          color: var(--Colors-Base-base-black, #1c2127);
          font-feature-settings: 'clig' off, 'liga' off;
          // font-family: Nexa;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 900;
          line-height: 24px;
        }
        .info {
          font-family: $thic700;
          margin-bottom: 3rem;
          // new
          color: var(--Colors-Lightmode-lightmode-25, #737a91);
          font-size: 1.2rem;
          font-style: normal;
          font-weight: 500;
          line-height: 18px;
          // font-family: Inter;
        }
        .details {
          display: flex;
          align-items: center;
          column-gap: 4rem;
          .detail {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 1rem;
            height: 6rem;
            // background-color: green;
            .value {
              font-family: $thic700;
              font-size: 2.4rem;
              color: $color6;
            }
            .text {
              font-family: $thic500;
              font-size: 1.2rem;
              color: #737a91;
            }
          }
        }
        &.stat-2 {
          border-left: 1px solid #e1e1e1;
          border-right: 1px solid #e1e1e1;
        }
      }
    }
    .estimate {
      // min-width: 30%;
      width: 31rem;
      max-width: 31rem;
      margin: 0 auto;
      border: 1px solid #eaf1fa;
      background-color: #fff;
      box-shadow: 0px 5.969581604003906px 16.714828491210938px 0px #080f340a;
      margin-bottom: 2.4rem;
      // display: grid;
      padding: 2rem 0;
      border-radius: 1.2rem;
      // grid-template-columns: repeat(3, 1fr);

      .stat {
        width: 100%;
        height: 17.8rem;
        padding: 2.4rem;
        .title {
          font-family: $thic700;

          // new
          color: var(--Colors-Base-base-black, #1c2127);
          font-feature-settings: 'clig' off, 'liga' off;
          // font-family: Nexa;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 900;
          line-height: 24px;
        }
        .info {
          font-family: $thic700;
          margin-bottom: 3rem;
          // new
          color: var(--Colors-Lightmode-lightmode-25, #737a91);
          font-size: 1.2rem;
          font-style: normal;
          font-weight: 500;
          line-height: 18px;
          // font-family: Inter;
        }
        .details {
          display: flex;
          align-items: center;
          column-gap: 4rem;
          .detail {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 1rem;
            height: 6rem;
            // background-color: green;
            .value {
              font-family: $thic700;
              font-size: 2.4rem;
              color: $color6;
            }
            .text {
              font-family: $thic500;
              font-size: 1.2rem;
              color: #737a91;
            }
          }
        }
        &.stat-2 {
          border-left: 1px solid #e1e1e1;
          border-right: 1px solid #e1e1e1;
        }
      }
    }
  }
  .charts {
    // display: flex;
    // column-gap: 1.6rem;
    // justify-content: space-between;
    .incoming {
      min-width: 79.6rem;
      width: 100%;
      flex: 1 1 0%;
      margin: 0 auto;
      border: 1px solid #eaf1fa;
      background-color: #fff;
      box-shadow: 0px 5.969581604003906px 16.714828491210938px 0px #080f340a;
      padding: 2.4rem;
      border-radius: 1rem;
      .title {
        font-family: $thic700;
        color: var(--Colors-Base-base-black, #1c2127);
        font-feature-settings: 'clig' off, 'liga' off;
        // font-family: Nexa;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 900;
        line-height: 2.4rem;
        margin-bottom: 2rem;
      }
      .charts-wrapper {
        .legend-wrapper {
          display: flex;
          align-items: center;
          column-gap: 3.2rem;
          margin-bottom: 3rem;
          .legend {
            display: flex;
            align-items: center;
            column-gap: 1rem;

            .color {
              width: 1.6rem;
              height: 1.6rem;
              min-width: 1.6rem;
              min-height: 1.6rem;
              border-radius: 0.2rem;

              &.online {
                background-color: #3c828a;
              }
              &.away {
                background-color: #e5a889;
              }
            }
          }
        }
        .chart {
          min-width: 100%;
          min-height: 50rem;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .temp {
      min-width: 24.4rem;
      width: 24.4rem;
      margin: 0 auto;
      border: 1px solid #eaf1fa;
      background-color: #fff;
      box-shadow: 0px 5.969581604003906px 16.714828491210938px 0px #080f340a;
      padding: 2.4rem;
      border-radius: 1rem;
    }
  }
}
